<div class="container" ng-cloak>
    <div>
        <h1>Current Accounts</h1>
    </div>
    <div>
        <md-button class="btn md-raised" ng-click="hc.accAdder()">Add Account</button>
    </div>
    <table>
        <thead>
            <tr>
                <th>Institution</th>
                <th>Acc. # Ending In</th>
                <th>Name</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="account in hc.accounts.data">
                <td>{{account.institution}}</td>
                <td>{{account.end_numbers}}</td>
                <td>{{account.name}}</td>
                <td>$ {{account.balance}}</td>
            </tr>
        </tbody>
    </table>
</div>