<div class="container" ng-cloak>
    <div>
        <h1>Transactions</h1>
    </div>
    <div>
        <h2>Select an account:</h2>
        <div layout="column">
            <md-menu>
                <md-button class="md-raised" ng-click="tc.openMenu($mdMenu, $event)">Click me
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button>Hey
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
    <div>
        Arvest Bank - Current Balance: {tc.accountBalance}
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1/12/18</td>
                <td>Pizza</td>
                <td>($5.78)</td>
            </tr>
            <tr>
                <td>1/5/18</td>
                <td>Gas</td>
                <td>($27.89)</td>
            </tr>
            <tr>
                <td>1/1/18</td>
                <td>Money from parents</td>
                <td>$500.00</td>
            </tr>
        </tbody>
    </table>
</div>